<!DOCTYPE html>
<html>
<head>
  <title>Reserve a Table</title>
</head>
<body>
    <form method="post" >
      <fieldset>
        <legend>Reservation</legend>
        <table>
          <tr>
            <td>Name:</td>
            <td><input type="text" name="name" required></td>
          </tr>
          <tr>
            <td>Date</td>
            <td><input type="Date" name="date" required></td>
          </tr>
          <tr>
            <td>Time</td>
            <td><input type="Time" name="time" required></td>
          </tr>
          <tr>
            <td><label><tb>Number of Guest:</b></label></td>
                        <td><input type="Number" name="party" required></td>

            </td>
          </tr>
          <tr>
            <td><label><b>Reservation Type:</b></label></td>
            <td><select name="type" id="type" required>
                 <option value="dinner">Dinner</option>
                 <option value="birthday">Birthday</option>
                 <option value="private">Private</option>
                 <option value="other">Other</option>
            </select></td>
          </tr>
           <tr>
            <td><label><b>Contact Info:</b></label></td>
            <td><input type="text" placeholder="Enter your phone number" name="contactinfo" required></td>
          </tr>
          <tr>
            <td><label><b>Any Special Message:</b></label></td>
            <td><input type="text" placeholder="Enter Message" name="message" required></td>
          </tr>
         
            <td><input type="submit" value="Book"></td>
          </tr>
          </tr>
        </table>
      </fieldset>
    </form>
</body>
</html>